{% extends 'base.html' %}
{% load static %}

{% block sadrzaj %}

<div class="nadzorna_ploca">
        {% include "includes/naslovna_profila.html" %}
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!--Ucitavanje izbornika OPG-->
                    {% include 'includes/opg_izbornik.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 mt-3">
                            <h3 class = "text-uppercase mb-3">STANJE</h3>
                            <hr>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-3">
                                    <div class="card">
                                        <div class = "card-header">
                                            Ukupno narudžbi
                                        </div>
                                        <div class = "card-body text-center">
                                            <a href="#" class="text-decoration-none"><h5 class="card-title">{{broj_narudzbi}}</h5></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-3">
                                  <div class="card">
                                      <div class = "card-header">
                                          Zarada ovaj mjesec
                                      </div>
                                      <div class = "card-body text-center">
                                        <a href="#" class="text-decoration-none"><h5 class="card-title">€ 254.60</h5></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class = "card-header">Ukupna zarada</div>
                                    <div class = "card-body text-center">
                                        <a href="#" class="text-decoration-none"><h5 class="card-title">€ 25432.60</h5></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                              <br>
                              
                            <div class="container mt-2">
                                <div class="row">
                                        <h4>POSLJEDNJE NARUDŽBE</h4>
                                                                                 
                                </div>
                                
                                <div class="table-responsive mt-3 mb-3 rounded">
                                  <table class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th>Broj narudžbe</th>
                                        <th>Ime i Prezime</th>
                                        <th>Broj telefona</th>
                                        <th>Ukupna cijena</th>
                                        <th>Status narudžbe</th>                                   
                                        <th>Datum naručivanja</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for narudzba in posljednje_narudzbe %}
                                            <tr>
                                              <td><a href="{% url "detalji_narudzbe_opg" narudzba.broj_narudzbe %}" data-toggle="modal" data-target="#order-det-22606">{{narudzba.broj_narudzbe}}</a></td>
                                              <td>{{narudzba.ime_i_prezime}}</td>
                                              <td>{{narudzba.broj_telefona}}</td>
                                              <td>€ {{narudzba.ukupno}}</td>                                                                               
                                              <td><span class="status-narudzbe badge bg-success">{{narudzba.status}}</span></td>
                                              <td>{{narudzba.kreirano}}</td>
                                            </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                            </div>                    
            </div>
        </div>
    </div>

   
</div> <!--nadzorna_ploca_opg-->


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4 mb-2 text-center">
    {% include 'includes/alerts.html' %}
</div>

{% endblock sadrzaj %}