{% extends 'base.html' %}
{% load static %}

{% block sadrzaj %}

<main>
    <div class="container pb-4">
            <form action="{% url 'resetiraj_lozinku' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="reg_korisnik">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <h3>PONOVNO POSTAVITE LOZINKU</h3>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                            <label>Nova lozinka</label>
                            <input type='password' name='lozinka' placeholder='Unesite novu lozinku'>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                            <label>Potvrdite novu lozinku</label>
                            <input type='password' name='potvrdi_lozinku' placeholder='Potvrdite Vašu novu lozinku'>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4 text-center">
                            <button type="submit" class="btn btn-primary">POSTAVI NOVU LOZINKU</button>         
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4 mb-2 text-center">
                            <!--UČITAVANJE ALERTA-->
                            {% include 'includes/alerts.html' %}
                        </div>
                    </div>
                </div>
            </form>  
    </div>
 </main>

{% endblock sadrzaj %}