
.slika-profila {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.tekst-naslovna {
  background-color: rgba(0, 0, 0, 0.5); /* Optional: to make text readable on various background images */
  padding: 1rem;
  border-radius: .3rem;
  color: white;
}

