
.slika-profila {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.tekst-naslovna {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 1rem;
  border-radius: .3rem;
  color: white;
}
