<div class="list-group">
    <a href="{% url "kupac" %}" class="list-group-item list-group-item-action {% if '/kupac_nadzorna_ploca/' in request.path or '/kupac/' == request.path %} active {% endif %}"><i class="bi bi-speedometer2 me-1"></i>Nadzorna ploča</a>
    <a href="{% url "moje_narudzbe" %}" class="list-group-item list-group-item-action {% if '/moje_narudzbe/' in request.path or '/detalji_narudzbe/' in request.path %} active {% endif %}"><i class="bi bi-bag-check me-1"></i>Moje narudžbe</a>
    <a href="{% url "kupac_profil" %}" class="list-group-item list-group-item-action {% if '/profil/' in request.path %} active {% endif %}"><i class="bi bi-gear me-1"></i>Postavke profila</a>
    <a href="{% url "odjava" %}" class="list-group-item list-group-item-action"><i class="bi bi-box-arrow-left me-1"></i>Odjava</a>
</div>