{% load static %}

<header>

    <nav class="navbar navbar-light navbar-expand-md bg-light justify-content-center">
      <div class="container">
        <a class="navbar-brand" href="{% url 'pocetna_stranica' %}">
          <img src="{% static 'images/opg_distribucija_logo.png' %}" alt="opg" width="35" height="35" class="d-inline-block">
          OPG Distribucija</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
              <ul class="navbar-nav w-100 justify-content-left">
                  <li class="ms-1 me-1">
                  {% comment %} <li class="nav-item active me-2 ">
                    <div class="input-group me-auto mb-2 mb-lg-0 w-auto"> {% endcomment %}
                      <button id="moja_lokacija" class="btn btn-outline-danger w-100 mb-1 mt-1 ms-1 me-1" onclick="getLocation()" type="button"><i class="bi bi-geo me-1"></i>MOJA LOKACIJA</button>
                      {% comment %} <input type="text" class="form-control" value="" placeholder="Vaša trenutna lokacija" disabled>
                    </div> {% endcomment %}
                  </li> 
               
                  <li class="ms-1 me-1">
                      <a href="{% url "e_trznica" %}"><button type="button" class="btn btn-primary w-100 mb-1 mt-1 ms-1 me-1">
                        <i class="bi bi-shop-window"></i>
                        E-TRŽNICA
                        </button> 
                      </a>
                  </li>
                {% if user.is_authenticated is not True %}
                  <li class="ms-1 me-1">  
                      <button type="button" class="btn btn-success w-100 mb-1 mt-1 ms-1 me-1" onclick="window.location.href='{% url 'registrirajOpg' %}';">
                        <i class="bi bi-pencil-square"></i>
                        REGISTRIRAJ OPG
                      </button> 
                {% endif %}      
         
              </ul>
              <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                
                {% if user.is_authenticated %}
                <a href="{% url "kosarica" %}" class="mt-1 me-3">
                  <button type="button" class="btn btn-link position-relative border-0">
                    <i class="bi bi-cart4 h5 me-1"></i>
                    <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill bg-danger" id="prikaz_kolicine_proizvoda">
                        {{kolicina_proizvoda_u_kosarici}}
                        <span class="visually-hidden">Proizvodi u košarici</span>
                      </span>
                  </button>
                
                </a>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'mojRacun' %}">Moj račun</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-danger" href="{% url 'odjava' %}">Odjava</a>
                </li>
                
                {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'prijava' %}">Prijava</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'registrirajKorisnika' %}">Registracija</a>
                  </li>
                {% endif %}  
              </ul>
          </div>
      </div>
  </nav>

  
  </header>  


<script>
    const x = document.getElementById("moja_lokacija");
    var trenutna_lokacija = sessionStorage.getItem("trenutna_lokacija");
    if (trenutna_lokacija != null && trenutna_lokacija != ""){
      x.innerHTML = trenutna_lokacija;
    }
    

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    
    function showPosition(position) {
      var lat = position.coords.latitude;
      var lng = position.coords.longitude;

      //ajax request prema google maps apiu za dohvacanje podataka na osnovu lat i lng
      var GOOGLE_API_KEY = "{{ GOOGLE_API_KEY }}";
      var url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"+&key="+GOOGLE_API_KEY;
      
      $.ajax({
        url: url,
        type: "GET",
        success: function(response){
          var trenutna_lokacija = (response.results[0].formatted_address);
          x.innerHTML = trenutna_lokacija;
          sessionStorage.setItem("trenutna_lokacija", trenutna_lokacija);
          window.location = '?lat='+lat+'&lng='+lng;           
        }
      })

    }
</script>