<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-speedometer2 me-1"></i>Nadzorna ploča</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-shop-window me-1"></i>Moj OPG</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-journal-plus me-1"></i>Kreiranje ponude</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-bag me-1"></i>Narudžbe</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-wallet2 me-1"></i>Zarada</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-envelope-paper me-1"></i>Izjava</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-person-lock me-1"></i>Promjeni lozinku</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-box-arrow-left me-1"></i>Odjava</a>
</div>