html, body {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    background: rgb(255,207,128);
    background: radial-gradient(circle, rgba(255,207,128,1) 52%, rgba(155,201,115,1) 100%, rgba(94,193,8,1) 100%);
}


.footer {
    flex-shrink: 0;
  }




