.opg-profil-slike {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

.gumb-ucitavanje-slike{
    font-size: 16px;
    cursor: pointer;
}


.bdr {
  border-radius: 6px;
  overflow: hidden;
}