{% extends 'base.html' %}
{% load static %}

{% block sadrzaj %}

    <main>
      <div class="container-fluid">
        <div class="row" style="background: url({% static 'images/naslovna.jpg' %}) no-repeat center / cover;">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div id="trazilice">
                <form class="row" action="{% url "pretraga" %}" method="GET">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>PRETRAŽITE DOSTUPNE OPG-OVE PREMA KRITERIJIMA</h2>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>"Domaće uzgojena hrana - spoj ljubavi prema zemlji, prirodi i zdravlju koja nas hrani iznutra i čuva naše korijene."</p> 
                  </div>
                  <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-1">
                            <input type="text" class="form-control" placeholder="Naziv opg-a/proizvoda" name="naziv_opga_proizvoda">
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-1">
                            <div class="input-group">
                              <div class="input-group-text"><i class="bi bi-geo-alt"></i></div>
                              <input type="text" class="form-control" required placeholder="Pretraži po lokaciji" id="id_adresa" name="lokacija">
                              <input type="hidden" name="lat" value="" id="id_latituda"></input>
                              <input type="hidden" name="lng" value="" id="id_longituda"></input>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mt-2">
                            <select name="udaljenost" class="form-select" id="udaljenost" required>
                              <option selected value="5"> 5 km</option>
                              <option value="10">10 km</option>
                              <option value="15">15 km</option>
                              <option value="20">20 km</option>
                              <option value="30">30 km</option>
                              <option value="40">40 km</option>
                              <option value="60">60 km</option>
                              <option value="80">80 km</option>
                              <option value="120">120 km</option>
                              <option value="240">240 km</option>
                            </select>
                          </div>
                          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 mt-2">
                            <button type="submit" class="btn btn-primary">Pretraži</button>
                          </div>
                </form>
              </div>         
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style = "margin-top:3rem; margin-left:4rem">
              <h2>Najbolji OPG-ovi</h2>
              <p>Istražite OPG-ove:</p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ms-4">
            <ul class="list-unstyled d-flex me-5">
              {% for opg in opgovi %}
                  <li class="ps-3">
                    <div class="najbolji_opgovi"> 
                      {% if opg.korisnicki_profil.slika_profila %}
                           <a href="{% url "pojedinosti_opga" opg.opg_slug %}"><img src="{{opg.korisnicki_profil.slika_profila.url}}"  alt="opg_slika_profila" id="slika_prikaz_opgova"></a> 
                      {% else %}
                          <a href="{% url "pojedinosti_opga" opg.opg_slug %}"><img src="{% static "images/default-profile.jpg" %}"  alt="opg_slika_profila" id="slika_prikaz_opgova"></a> 
                      {% endif %}
                    </div>
                  </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mt-5 mb-1">
            <h2>Odaberite neke od najpopularnijih opg-ova</h2>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mt-5 mb-5">
            <div class="najpopularniji_opgovi">
              <ul class="row list-unstyled ms-3 pb-5">
                {% for opg in opgovi %}
                      <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <a href="" class="text-decoration-none">
                        <div class="card mb-4" style="max-width: 600px;">
                          <div class="row g-0">
                            <div class="col-md-4">
                              {% if opg.korisnicki_profil.slika_profila %}
                                  <a href="{% url "pojedinosti_opga" opg.opg_slug %}"><img src="{{opg.korisnicki_profil.slika_profila.url}}" id="slika_prikaz_opgova" class="img-thumbnail rounded-start" alt="opg_slika_profila"></a>
                              {% else %}
                                <a href="{% url "pojedinosti_opga" opg.opg_slug %}"><img src="{% static "images/default-profile.jpg" %}" id="slika_prikaz_opgova" class="img-thumbnail rounded-start" alt="opg_slika_profila"></a>
                              {% endif %}
                            </div>
                            <div class="col-md-8">
                              <div class="card-body text-start">
                                <a href="{% url "pojedinosti_opga" opg.opg_slug %}" class="text-decoration-none"><h5 class="card-title">{{opg.naziv_opga}}</h5></a>
                                {% if opg.korisnicki_profil.adresa %}
                                    <p class="card-text">{{opg.korisnicki_profil.adresa}}</p>
                                {% else %}
                                    <p class="card-text d-none">{{opg.korisnicki_profil.adresa}}</p>
                                {% endif %}
                                {% if opg.udaljenost_km %}
                                  <p class="card-text"><small class="text-body-secondary">{{opg.udaljenost_km}} km udaljenosti</small></p>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                      </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

    </main>

{% endblock %}