{% extends "base.html" %}
{% load static %}

{% block sadrzaj %}
<div class="nadzorna_ploca">
    {% include "includes/naslovna_profila.html" %}
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <!--Ucitavanje izbornika OPG-->
                  {% include 'includes/opg_izbornik.html' %}
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <h3 class="text-uppercase mb-3 mt-3">Kreiraj ponudu</h3>
                  <hr>
                  <h5 class="float-start">Moje kategorije</h5>
                  <a href="#" class="btn btn-success float-end mb-3 ms-2 ps-1"><i class="bi bi-plus"></i>Dodaj proizvod</a>
                  <a href="#" class="btn btn-info float-end mb-3 ms-2 ps-1"><i class="bi bi-plus"></i>Dodaj kategoriju</a>
                  <table class="table table-hover table-borderless bdr">
                      <tbody>
                        {% for kategorija in kategorije %}
                            <tr class="border-bottom">
                            <td class="ps-4 pt-3 pb-3 text-start">{{forloop.counter}}.</td>
                            <td class="pt-3 pb-3">
                                <a href="#" class="text-decoration-none">
                                    <p class="mb-0 fw-bold">{{kategorija}}</p>
                                    <small class="text-muted">{{kategorija.opis_kategorije}}</small>
                                </a>
                            </td>
                            <td class="p-3">
                                <a href="#" class="btn btn-danger float-end ms-2 mt-1"><i class="bi bi-trash pe-1"></i>Obriši</a>
                                <a href="#" class="btn btn-warning float-end mt-1"><i class="bi bi-pencil-square pe-1"></i>Uredi</a>
                            </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                  </table>
              

                              
               </div>
           </div>
      </div>

</div> <!--nadzorna_ploca_opg-->


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4 mb-2 text-center">
{% include 'includes/alerts.html' %}
</div>

{% endblock sadrzaj %}



