{% extends "base.html" %}
{% load static %}

{% block sadrzaj %}
<div class="nadzorna_ploca">
    {% include "includes/naslovna_profila.html" %}
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <!--Ucitavanje izbornika OPG-->
                  {% include 'includes/opg_izbornik.html' %}
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <h3 class="text-uppercase mb-3 mt-3">Kreiraj ponudu</h3>
                  <hr>
                  <button class="btn btn-secondary float-start me-2 mb-2" onclick="history.back()"><i class="bi bi-arrow-left pe-2"></i>Natrag</button>
                  <h5 class="float-start text-primary mt-1">Uredi kategoriju:</h5>
                        <br>
                        <br>
                        <form action="{% url "uredi_kategoriju" kategorija.pk %}" method="POST"> 
                            {% csrf_token %}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                                <div class="form-group">
                                  <label for="dodaj_naziv_kategorije">Naziv kategorije:</label>
                                  {{forma_kategorije.naziv_kategorije}}
                                </div>
                            </div>    
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                                <div class="form-group">
                                  <label for="dodaj_opis_kategorije">Opis kategorije:</label>
                                  {{forma_kategorije.opis_kategorije}}
                                </div>
                            </div>  
                            
                            {% for polje in forma_kategorije %}
                                {% if polje.errors %}
                                    {% for error in polje.errors %}
                                           <p class="text-danger fw-bold">{{error}}</p> 
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                            <button type="submit" class="btn btn-primary mt-2">Ažuriraj kategoriju</button>
                            
                        </form>
               </div>
           </div>
      </div>

</div> <!--nadzorna_ploca_opg-->


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4 mb-2 text-center">
{% include 'includes/alerts.html' %}
</div>

{% endblock sadrzaj %}



